<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Flights</h1>
    <a href="/flights/new">Add a flight</a>
    <a href="/flights">All flights</a>
  </body>
</html>
